// 除了CSSreset以外的基本設定
*, *::after, *::before{
  box-sizing: border-box;
}
*{
  font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
  color: inherit;
  line-height: 1.5;
  font-weight: 700;
}

img{
  max-width: 100%;
  display: block;
  height: auto;
}
h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  display: block;
  color: inherit;
}

ul, li{
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}