// 通用設定
$base-font-size:0.625rem;
// display
d-inline-block{
  display: inline-block;
}


// width
.w{
  &-px{
    &-50{
      width: 50px;
    }
    &-100{
      width: 100px;
    }
    &-280{
      width: 280px;
    }
    &-360{
      width: 360px;
    }
    &-500{
      width: 500px;
    }
  }
  &-lg{
    @include Desktop{
      &-px{
        &-50{
          width: 50px;
        }
        &-100{
          width: 100px;
        }
        &-280{
          width: 280px;
        }
        &-360{
          width: 360px;
        }
        &-500{
          width: 500px;
        }
      }
    }
  }
}
.width{
  &-40{
    width: 40%;
  }
  &-50{
    width: 50%;
  }
  &-60{
    width: 60%;
  }
  &-80{
    width: 80%;
  }
  &-100{
    width: 100%;
  }
  &-lg{
    @include Desktop{
      &-auto{
        width: auto;
      }
      &-50{
        width: 50%;
      }
      &-60{
        width: 60%;
      }
      &-80{
        width: 80%;
      }
      &-100{
        width: 100%;
      }
    }
  }
}

// min-widht
.mw{
  &-500{
    min-width: 500px;
  }
}

//font size for RWD(普通設定已經有了)
.fs-lg{
  @include Desktop{
    &-1{
      font-size: 40px !important ; 
    }
    &-2{
      font-size: 32px !important; 
    }
    &-3{
      font-size: 28px !important; 
    }
    &-4{
      font-size: 24px !important; 
    }
    &-5{
      font-size: 20px !important; 
    }
    &-6{
      font-size: 16px !important; 
    }
  }
}
// position
.position{
  &-lg{
    @include Desktop{
      &-relative{
        position: relative;
      }
    }
  }
}

// transform:更換座標軸位置
.transform{
  &-center{
    transform: translate(-50%, -50%);
  }
  &-bottom-right{
    transform: translate(0%, 0%);
  }
}

// up
.up{
  &-12{
    top: -12px;
  }
  &-20{
    top: -20px;
  }
  &-30{
    top: -30px;
  }
  &-60{
    top: -60px;
  }
  &-100{
    top: -100px;
  }
}
//center
.x{
  &-auto{
    left: auto;
  }
  &-center{
    left: 50%;
  }
  &-220{
    left: 220px;
  }
  &-lg{
    @include Desktop{
      &-auto{
        left: auto;
      }
      &-center{
        left: 50%;
      }
      &-220{
        left: 220px;
      }
    }
  }
  &-xl{
    @include xl-device{
      &-auto{
        left: auto;
      }
      &-center{
        left: 50%;
      }
      &-220{
        left: 220px;
      }
    }
  }
}




// overflow
.overflow{
  &-y{
    &-scroll{
      overflow-y: scroll;
    }
  }
}

// outline
.outline{
  outline: 1px solid var(--bs-helper-primary);
}


// gap
.gap{
  &-x{
    &-20{
      column-gap: 20px;
    }
    &-40{
      column-gap: 40px;
    }
    &-md{
      @include Tablet{

      }
    }
    &-lg{
      @include Desktop{
      }
    }
  }
  &-y{
    &-20{
      row-gap: 20px;
    }
    &-40{
      row-gap: 40px;
    }
    &-md{
      @include Tablet{
        &-20{
          row-gap: 20px;
        }
        &-40{
          row-gap: 40px;
        }
      }
    }
    &-lg{
      @include Desktop{
        
      }
    }
  }
  
}

// transition
.transition{
  &-1{
    transition: 0.1s;
  }
  &-3{
    transition: 0.3s;
  }
}


// hover
.hover{
  &-orange{
    &:hover{
      color: orange;
    }
  }
  &-white{
    &:hover{
      color: var(--bs-white);
    }
  }
  &-green-primary{
    &:hover{
      color: var(--bs-green-primary);
    }
  }
  &-bg{
    &--green-fourth{
      &:hover{
        background-color: var(--bs-green-fourth);
      }
    }
    &--helper-third{
      &:hover{
        background-color: var(--bs-helper-third);
      }
    }
    &--helper-fourth{
      &:hover{
        background-color: var(--bs-helper-fourth);
      }
    }
    &--helper-fifth{
      &:hover{
        background-color: var(--bs-helper-fifth);
      }
    }
  }
  &-border{
    &--helper-primary{
      border: 1px solid var(--bs-helper-primary);
    }
  }
}

// line height
.lh{
  &-48{
    line-height: 48px;
  }
}