<div id="eventInfo" class="container-xl px-0 px-lg-8">
  <div class="event px-8 d-flex justify-content-between align-items-center">
    <div class="event-left my-7 d-flex align-items-center">
      <img
        class="event-img me-9 d-lg-none"
        src="../assets/images/icons/speaker-sm.png"
        alt="綠色大聲公。"
      />
      <img
        class="event-img me-9 d-none d-lg-block"
        src="../assets/images/icons/speaker.png"
        alt="綠色大聲公。"
      />
      <p class="event-content text-truncate overflow-hidden">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed assumenda
        veniam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed
        assumenda veniam!
      </p>
    </div>
    <div id="eventCloseIcon" class="event-right">
      <a class="event-img d-lg-none" href="#">
        <img src="../assets/images/icons/close-sm.png" alt="黑色小叉叉" />
      </a>
      <a class="event-img d-none d-lg-block" href="#">
        <img src="../assets/images/icons/close.png" alt="黑色叉叉" />
      </a>
    </div>
  </div>
</div>
