<footer class="border-top border-bottom border-helper-primary">
  <div
    class="container-xl d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center py-4 px-lg-0"
  >
    <a href="index.html" class="d-flex justify-content-center mb-6 mb-lg-0">
      <img
        class="d-lg-none"
        src="../assets/images/Logo-sm.png"
        alt="Badminton Life字樣，左邊有一個毛球圖案"
      />
      <img
        class="d-none d-lg-block"
        src="../assets/images/Logo.png"
        alt="Badminton Life字樣，左邊有一個毛球圖案"
      />
    </a>
    <p class="footer-copyright text-center">
      Copyright &copy; 2023 安迪劉. All rights reserved.
    </p>
  </div>
</footer>
