<!-- xl-device-width時開始不是滿版的 -->
<header class="header container-xl px-0 px-lg-8">
  <div class="row g-0 align-items-lg-center border border-dark bg-white">
    <div class="col-12 col-lg-4">
      <div class="header-logo">
        <a href="index.html">
          <img
            class="d-lg-none"
            src="../assets/images/Logo-sm.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
          />
          <img
            class="d-none d-lg-block"
            src="../assets/images/Logo.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
          />
        </a>
        <div>
          <a id="openIcon" class="header-icon-menu d-lg-none" href="#"
            ><img
              src="../assets/images/icons/menu.png"
              alt="三條左右延伸的黑色橫槓，其中中間的橫槓由右往左延伸，但沒有延伸到底。"
          /></a>
          <a id="closeIcon" class="header-icon-close d-none d-lg-none" href="#"
            ><img src="../assets/images/icons/close.png" alt="叉叉記號"
          /></a>
        </div>
      </div>
    </div>
    <!-- navbar -->
    <div class="col-12 col-lg-8">
      <nav class="header-nav d-lg-flex justify-content-end">
        <ul id="mobileNavbar" class="list d-none d-lg-flex">
          <li class="col-12 col-lg">
            <a class="list-item" href="ranking--MS.html">Ranking</a>
          </li>
          <li class="col-12 col-lg">
            <a class="list-item" href="players.html">Players</a>
          </li>
          <li class="col-12 col-lg">
            <a class="list-item" href="contest.html">Contest</a>
          </li>
          <li class="col-12 col-lg">
            <a class="list-item" href="forum.html">Forum</a>
          </li>
          <li class="col-12 col-lg">
            <a class="list-item" href="analysis.html">Analysis</a>
          </li>
          <li class="col-12 col-lg">
            <a class="list-item list-item--signIn" href="logIn.html">Log In</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
