<div class="header container-xl px-0">
  <div class="row g-0 align-items-lg-center">
    <div class="col-12 col-lg-4">
      <h1 class="header-logo">
        <a href="index.html">
          <img
            class="d-lg-none"
            src="../assets/images/Logo-sm.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
          />
          <img
            class="d-none d-lg-block"
            src="../assets/images/Logo.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
          />
        </a>
        <a id="openIcon" class="header-icon-menu d-lg-none" href="#"
          ><img
            src="../assets/images/icons/menu.png"
            alt="三條左右延伸的黑色橫槓，其中中間的橫槓由右往左延伸，但沒有延伸到底。"
        /></a>
        <a id="closeIcon" class="header-icon-close d-none d-lg-none" href="#"
          ><img src="../assets/images/icons/close.png" alt="叉叉記號"
        /></a>
      </h1>
    </div>
    <!--! navbar  -->
    <div class="header-menu col-12 col-lg-8">
      <nav class="header-nav d-lg-flex justify-content-end">
        <ul id="mobileNavbar" class="list d-none d-lg-flex">
          <li class="col-12 col-lg-2">
            <a class="list-item" href="ranking.html">Ranking</a>
          </li>
          <li class="col-12 col-lg-2">
            <a class="list-item" href="players.html">Player</a>
          </li>
          <li class="col-12 col-lg-2">
            <a class="list-item" href="contest.html">Contest</a>
          </li>
          <li class="col-12 col-lg-2">
            <a class="list-item" href="forum.html">Forum</a>
          </li>
          <li class="col-12 col-lg-2">
            <a class="list-item" href="analysis.html">Analysis</a>
          </li>
          <li class="col-12 col-lg-2 align-self-stretch">
            <div
              class="list-item list-item--signIn d-none d-lg-block position-relative d-flex align-items-center justify-content-center"
            >
              <span
                class="material-symbols-outlined vertical-align-center fs-3"
              >
                account_circle
              </span>
              <span class="material-symbols-outlined fs-4"> expand_more </span>
              <div class="position-absolute top-100 end-0">
                <ul>
                  <li>
                    <a class="item-content bg-helper-fourth" href="profile.html"
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a class="item-content bg-helper-fourth" href="index.html"
                      >Log out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-12 d-lg-none">
            <a class="list-item bg-helper-fourth" href="profile.html"
              >Profile</a
            >
          </li>
          <li class="col-12 d-lg-none">
            <a class="list-item bg-helper-fourth" href="index.html">Sign out</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
