<div class="mt-6 mb-3 mb-lg-2">
  <ul id="pagination" class="pagination">
    <li>
      <a id="controllerPrev" class="pagination-controller" href="#">pre</a>
    </li>
    <li>
      <a class="pagination-item active" href="#">1</a>
    </li>
    <li><a class="pagination-item" href="#">2</a></li>
    <li><a class="pagination-item" href="#">3</a></li>
    <li>
      <a id="controllerNext" class="pagination-controller" href="#">next</a>
    </li>
  </ul>
</div>
