<section class="mt-6 mb-3 mb-lg-2">
  <ul class="pagination">
    <li>
      <a class="pagination-item pagination-item--controller" href="#">pre</a>
    </li>
    <li>
      <a class="pagination-item pagination-item--active" href="#">1</a>
    </li>
    <li><a class="pagination-item" href="#">2</a></li>
    <li><a class="pagination-item" href="#">3</a></li>
    <li>
      <a class="pagination-item pagination-item--controller" href="#">next</a>
    </li>
  </ul>
</section>
