// bootstrap
// bootstrap : Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/modal";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// base
@import './base/base';

// mixin
@import './utils/mixin';

// layout
@import './layout/layout';
@import './layout/header';
@import './layout/footer';
@import './layout/event';
@import './layout/banner';


// pages
@import './pages/index';
@import './pages/ranking';
@import './pages/profile';
@import './pages/contest';
@import './pages/contest-detail';
@import './pages/players';

// util
@import './utils/util';