// select heart icon
// a[data-content="heart"]{
//   &:hover{
//     color: #faa;
//   }
// }

// heart icon
.icon-heart{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 0.1s;
  &:active{
    background-image: url('../images/icons/icon-heart-half.png'); 
  }
  &-normal{
    background-image: url('../images/icons/icon-heart-outline.png');
  }
  &-active{
    background-image: url('../images/icons/icon-heart-filled.png'); 
  }
  
}