// 各版面重複到的小區塊
// button
.btn{
  display: inline-block;
  &--primary{
    padding: 20px 24px;
    background-color: var(--bs-green-primary);
    color: var(--bs-white);
    transition: 0.3s;
    @include Desktop{
      padding: 24px 48px;
    }
    &:hover{
      background-color: var(--bs-helper-primary);
    }
  }
  &--secondary{
    border: 1px solid var(--bs-green-primary);
    padding: 12px 24px;
    background-color: var(--bs-white);
    color: var(--bs-green-primary);
    transition: 0.3s;
    @include Desktop{
      padding: 24px 48px;
    }
    &:hover{
      color: var(--bs-dark);
      border: 1px solid var(--bs-helper-primary);
    }
  }
  // 通用hover
  &:hover{
    color: var(--bs-white);
    background-color: var(--bs-helper-primary);
  }
  @include Desktop{
    font-size: 24px;
    font-weight: 700;
  }
}

// banner
.banner{
  height: 500px;
  position: relative;
  &--big{
    &::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(000,000,000,0.3);
    }
  }
}


// pagination
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  &-item{
    border-radius: 4px;
    padding: 6px 12px;
    background-color: var(--bs-helper-fifth);
    transition: background-color, 0.1s;
    &--controller{
      background-color: var(--bs-helper-fourth);
    }
    &--active{
      background-color: var(--bs-green-third);
    }
    &:hover{
      color: var(--bs-white);
      background-color: var(--bs-helper-secondary);
    }
  }
  li:not(:last-child){
    margin-right: 8px;
  }
  @include Tablet{
    &-item{
      padding: 12px 20px;
    }
  }
}


// card
.card{
  &-img{
    object-fit: cover;
  }
  &-group{
    display: flex;
    justify-content: space-evenly;
  }
  &-square{
    min-width: 48px;
    min-height: 48px;
  }
}
.card--contest{
  background-color: var(--bs-white);
  outline: 1px solid var(--bs-helper-secondary);
  padding: 20px 40px;
  transform-origin: center center;
  transition: 0.3s;
  &:hover{
    background-color: var(--bs-green-fourth);
    scale: 1.05;
  }
  .card-title{
    color: var(--bs-green-primary);
    font-size: 20px;
    margin-bottom: 12px;
  }
  .card-date{
    color: var(--bs-helper-secondary);
  }
  
  @include Tablet{
    .card-title{
      font-size: 24px;
      margin-bottom: 16px;
      font-size: 20px;
    }
  }
}
// side bar
.sideBar{
  position: relative;
  &::after{
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 50px;
    background-color: var(--bs-helper-third);
    right: -24px;
    top: 50%;
  }
}


//& Ranking card(舊，確認不使用後要刪除)
// .card--ranking{
//   &--group{
//     position: relative;
//     padding: 40px 20px 20px ;
//     border: 1px solid var(--bs-helper-primary);
//     justify-content: center;
//   }
//   .card-title{
//     text-align: center;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     font-size: 20px;
//     transform: translate(-50%, -50%);
//     top: 0px;
//     left: 50%;
//     padding: 16px 0;
//     min-width: 280px;
//     background-color: var(--bs-green-fourth);
//     border: 1px solid var(--bs-dark);
    
//     img{
//       margin-right: 4px;
//     }
//   }
//   .active{
//     background-color: var(--bs-green-primary);
//   }
//   .card-item{
//     display: flex;
//     align-items: center;
//     transition: 0.3s;
//     :hover{
//       background-color: var(--bs-helper-fourth);
//     }
//   }
//   .card-position{
//     width: 40px;
//     font-size: 20px;
//     text-align: center;
//     line-height: 40px;
//     margin-right: 9px;
//     color: var(--bs-white);
//   }
//   .card-info{
//     display: flex;
//     align-items: center;
//     padding: 12px 0 ;
//     width: 50%;
//   }
//   .card-country{
//     position: relative;
//     display: flex;
//     align-items: center;
//     padding-right: 60px; 
//     // border-right: 1px solid var(--bs-helper-secondary);
//     //! 上需修改，各列的線條沒對上
//     &::after{
//       content: "";
//       position: absolute;
//       right: 15px;
//       width: 1px;
//       height: 32px;
//       background-color: var(--bs-helper-secondary);
//     }
//     &-img{
//       width: 32px;
//       margin-right: 12px;
//     }
//     &-abbr{
//       color: var(--bs-helper-secondary);
//     }
//   }
//   .card-name{
//     color: var(--bs-dark);
//   }
//   &-sideImg{
//     width: 100%;
//     height: 100%;
//     // 預防沒有照片的時候
//     background-color: var(--bs-green-fourth);
//     background: url('../images/players/player-full-viktor-axelsen.png') no-repeat center;
//   }
//   //& Desktop
//   @include Desktop{
//     &--group{
//       width: 50%;
//     }
//     .card-title{
//       font-size: 32px;
//       padding: 24px 0 ;
//       min-width: 360px;
//       left: 40%;
//       img{
//         margin-right: 24px;
//       }
//     }
//     .card-position{
//       width: 56px;
//       font-size: 24px;
//       margin-right: 36px;
//       line-height: 56px;
//     }
//     .card-info{
//       width: 90%;
//       padding: 20px 0;
//     }
//     .card-country{
//       padding-right: 27px;
//       &-img{
//         width: 50px;
//         margin-right: 32px;
//       }
//       &-abbr{
//         font-size: 20px;
//       }
//     }
//     .card-name{
//       font-size: 20px;
//     }
//   }
// }

// card -- centerPosition
.card--centerPosition{
  transform: translate(-50%, -50%);
}

// card -- leftImgrightName
.card--leftImgRightName{
  transition: 0.1s;
  transform-origin: center center;
  a{
    min-width: 200px;
    display: inline-block;
    display: flex;
    align-items:center;
    border: 1px solid var(--bs-helper-primary);
  }
  .card-img{
    width: 60px;
    height: 60px;
  }
  .card-name{
    margin: 0 auto;
  }
  &:hover{
    background-color: var(--bs-green-fourth);
    scale: 1.05;

  }
  @include Desktop{
    .card-img{
      width: 100px;
      height: 100px;
    }
  }
}

// dropdown
.dropdown{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  background-color: var(--bs-white);
  &-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    border: 1px solid var(--bs-green-primary);
    border-radius: 6px;
    cursor: pointer;
    &:hover{
      background-color: var(--bs-helper-fourth);
    }
    &:active{
      background-color: var(--bs-helper-third);
    }
    .dropdown-tag{
      position: absolute;
      transform: translate(0, -100%);
      top: 0;
      left: 0;
      font-size: 12px;
      color: var(--bs-helper-third);
    }
  }
  &-content{
    display: none;
    position: relative;
    ul{
      position: absolute;
      top: 8px;
      border: 1px solid var(--bs-green-primary);
      max-height: 300px;
      li{
        padding: 12px 20px;
        cursor: pointer;
        background-color: var(--bs-white);
        &:hover{
          background-color: var(--bs-green-fourth);
        }
      }
      li+li{
        border-top: 1px solid var(--bs-green-primary);
      }
    }
    .active{
      background-color: var(--bs-green-fourth);
    }
  }
  @include Desktop{
    &-item{
      padding: 12px 20px;
    }
  }
}

// datePicker
.datePicker{
  cursor: pointer;
  color: var(--bs-helper-third);
  &:hover{
    color: var(--bs-helper-secondary);
  }
}


// input--players
.input--players{
  padding: 8px 12px;
  border-radius: 6px;
  width: 150px;  
  min-width: 100px;
  @include Tablet{
    width: 200px;
  }
  @include Desktop{
    padding: 12px 20px;
  }
}
.input-tag{
  position: absolute;
  transform: translate(0 , -100%);
  top: 0;
  left: 0;
  font-size: 12px;
  color: var(--bs-helper-third);
}



// forum-modal
.forum-modal{
  padding: 32px 24px;
  line-height: normal;
  // 作者資訊
  > .item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .item-header-author{
      display: flex;
      align-items: center;
      img{
        width: 32px;
        height: 32px;
        margin-right: 8px;
      }
    }
  }
  // 文章標題和內容
  > .item-body{
    padding-bottom: 24px;
    .item-body-title{
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 12px;
      color: var(--bs-green-primary);
    }
    .item-body-content{
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  //留言表單 
  > .item-comment{
    form{
      display: flex;
      align-items: center;
      gap: 0;
      border: 1px solid var(--bs-helper-fourth);
    }
    input{
      border: none;
    }
    input[type=text]{
      padding: 8px 0 8px 12px;
      width: 80%;
    }
    input[type=submit]{
      align-self: stretch;
      width: 20%;
      &:hover{
        background-color: var(--bs-helper-third);
      }
    }
  }
  // RWD
  @include Desktop{
    padding: 64px 48px 24px;
    > .item-body{
      .item-body-title{
        font-size: 48px;
      }
      .item-body-content{
        font-size: 28px;
      }
    }
  }
}

.list-comment{
  padding: 0 4px;
  .list-item{
    padding: 24px 0;
    border-top: 2px solid var(--bs-helper-primary);
    > .item-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      .item-header-author{
        display: flex;
        align-items: center;
        img{
          width: 32px;
          height: 32px;
          margin-right: 8px;
        }
      }
    }
    // 留言內容
    > .item-body{
      .item-body-comment{
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-helper-secondary);
      }
    }
    
  }
}


// select heart icon
a[data-content="heart"]{
  &:hover{
    color: #faa;
  }
}

// not found section
.not-found{
  margin-top: 120px;
  margin-bottom: 120px;
  .item{
    text-align: center; 
  }
}