.player{
  &-result{
    a{
      transition: 0.1s;
      &:hover{
        background-color: var(--bs-green-fourth);
      }
    }
  }
  &-recent{
    transition: 0.1s;
    &:hover{
      background-color: var(--bs-green-fourth);
    }
    a{
      transition: 0.1s;
      &:hover{
        color: orange;
      }
    }
  }
}