.ranking{
  &-option{
    .list-item{
      text-align: center;
      padding: 20px 0;
      border: 1px solid var(--bs-dark);
      transition: 0.3s;
      font-size: 20px;
      &:hover{
        color: var(--bs-white);
        background-color: var(--bs-helper-third);
      }
    }
    .active{
      color: var(--bs-white);
      background-color: var(--bs-green-primary);
    }
    &-sm{
      position: relative;
      // 點下去就出現選項的效果
      // &:hover .ranking-option--dropdown-content{
      //   display: block;
      // }
    }
    &--dropdown{
      width: 60%;
      margin: 40px auto 60px;
      &:hover{
        // color: var(--bs-white);
        background-color: var(--bs-helper-third);
        border: 1px solid var(--bs-helper-primary);
      }
    }
    &--dropdown-content{
      display: none;
      position: absolute;
      width: 50%;
      transform: translate(-50%, 0);
      left: 50%;
      top: 60px;
      .list-item{
        background-color: var(--bs-white);
        font-size: 16px;
        padding: 12px 20px;
        border: 1px solid var(--bs-dark);
      }
      .active{
        background-color: var(--bs-helper-third);
      }
    }
  }
}