// 切換項目按鈕
.ranking{
  &-option{
    .active{
      color: var(--bs-white);
      background-color: var(--bs-green-primary);
    }
    &-sm{
      position: relative;
      // 點下去就出現選項的效果，目前只用hover
      &:hover .ranking-option--dropdown-content{
        display: block;
        z-index: 1000;
      }
    }
    &--dropdown-content{
      display: none;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 200px;
      .list-item{
        background-color: var(--bs-white);
      }
      .active{
        background-color: var(--bs-helper-third);
      }
    }
  }
}

// ranking大圖片
.ranking{
  &-playerPic{
    background: url('../images/players/player-full-viktor-axelsen.png') no-repeat center center / cover;
  }
}