<!-- ! 建立元件測試頁面 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Component</title>
  </head>
  <body>
    <%- include('./layout/event'); -%><%- include('./layout/header'); -%>
    <div class="container-xl px-0 px-lg-8">
      <div class="row gx-0 gy-3">
        <div class="col-lg-6">
          <!-- ranking table -->
          <div class="table-responsive-md position-relative">
            <table
              class="caption-top table-ranking align-middle border border-dark text-center"
            >
              <!-- title (>= lg) -->
              <div
                class="position-absolute transform-bottom-left d-none d-lg-flex justify-content-center align-items-center py-5 w-px-280 w-lg-px-360 bg-green-fourth border border-helper-primary up-24"
              >
                <div class="me-8">
                  <img
                    class="d-lg-none"
                    src="../assets/images/icons/logomark-sm.png"
                    alt="黑色羽球樣貌線條。"
                  />
                  <img
                    class="d-none d-lg-block"
                    src="../assets/images/icons/logomark.png"
                    alt="黑色羽球樣貌線條。"
                  />
                </div>
                <span class="fs-2">Man's single</span>
              </div>
              <!-- title (<lg) -->
              <caption class="d-lg-none text-center text-dark fs-1 fw-bold">
                Man's Single
              </caption>
              <!-- table header -->
              <thead class="fs-5">
                <tr class="border-bottom border-dark text-center">
                  <th scope="col">Position</th>
                  <th scope="col">Country</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <!-- table body -->
              <tbody>
                <!-- position-01 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >1</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/DEN.png"
                          alt="丹麥國旗，紅色背景白十字。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Vikotor AXELSEN
                    </a>
                  </td>
                </tr>
                <!-- position-02 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >2</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/INA.png"
                          alt="印尼國旗，上紅下白。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">INA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Anthony Sinisuka GINTING
                    </a>
                  </td>
                </tr>
                <!-- position-03 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >3</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/JPN.png"
                          alt="日本國旗，白底中間紅色圓形。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">JPN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name"
                      >Kodai NARAOKA</a
                    >
                  </td>
                </tr>
                <!-- position-04 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >4</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/THA.png"
                          alt="泰國國旗，紅白藍由外而內"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">THA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Kunlavut VITIDSARN
                    </a>
                  </td>
                </tr>
                <!-- position-05 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >5</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/CHN.png"
                          alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      SHI Yu QI
                    </a>
                  </td>
                </tr>
                <!-- position-06 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >6</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/IND.png"
                          alt="印度國旗，由上至下背景顏色為黃白綠，白色背景內有來色圓形花紋圖案。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">IND</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      PRANNOY H. S.
                    </a>
                  </td>
                </tr>
                <!-- position-07 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >7</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/CHN.png"
                          alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      LI Shi Feng
                    </a>
                  </td>
                </tr>
                <!-- position-08 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >8</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/SGP.png"
                          alt="新加坡國旗，上紅下白，紅色背景內，左側是一個月亮，右側是五顆星星。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">SGP</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      LOH Kean Yew
                    </a>
                  </td>
                </tr>
                <!-- position-09 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >9</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/INA.png"
                          alt="印尼國旗，上紅下白。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">INA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Jonatan CHRISTIE
                    </a>
                  </td>
                </tr>
                <!-- position-10 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >10</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/DEN.png"
                          alt="丹麥國旗，紅色背景白十字。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Anders ANTONSEN
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <!-- ranking table -->
          <div class="table-responsive-md position-relative">
            <table
              class="caption-top table-ranking align-middle border border-dark text-center"
            >
              <!-- title (>= lg) -->
              <div
                class="position-absolute transform-bottom-left d-none d-lg-flex justify-content-center align-items-center py-5 w-px-280 w-lg-px-360 bg-green-fourth border border-helper-primary up-24"
              >
                <div class="me-8">
                  <img
                    class="d-lg-none"
                    src="../assets/images/icons/logomark-sm.png"
                    alt="黑色羽球樣貌線條。"
                  />
                  <img
                    class="d-none d-lg-block"
                    src="../assets/images/icons/logomark.png"
                    alt="黑色羽球樣貌線條。"
                  />
                </div>
                <span class="fs-2">Man's single</span>
              </div>
              <!-- title (<lg) -->
              <caption class="d-lg-none text-center text-dark fs-1 fw-bold">
                Man's Single
              </caption>
              <!-- table header -->
              <thead class="fs-5">
                <tr class="border-bottom border-dark text-center">
                  <th scope="col">Position</th>
                  <th scope="col">Country</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <!-- table body -->
              <tbody>
                <!-- position-01 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >1</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/DEN.png"
                          alt="丹麥國旗，紅色背景白十字。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Vikotor AXELSEN
                    </a>
                  </td>
                </tr>
                <!-- position-02 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >2</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/INA.png"
                          alt="印尼國旗，上紅下白。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">INA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Anthony Sinisuka GINTING
                    </a>
                  </td>
                </tr>
                <!-- position-03 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >3</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/JPN.png"
                          alt="日本國旗，白底中間紅色圓形。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">JPN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name"
                      >Kodai NARAOKA</a
                    >
                  </td>
                </tr>
                <!-- position-04 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >4</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/THA.png"
                          alt="泰國國旗，紅白藍由外而內"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">THA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Kunlavut VITIDSARN
                    </a>
                  </td>
                </tr>
                <!-- position-05 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >5</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/CHN.png"
                          alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      SHI Yu QI
                    </a>
                  </td>
                </tr>
                <!-- position-06 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >6</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/IND.png"
                          alt="印度國旗，由上至下背景顏色為黃白綠，白色背景內有來色圓形花紋圖案。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">IND</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      PRANNOY H. S.
                    </a>
                  </td>
                </tr>
                <!-- position-07 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >7</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/CHN.png"
                          alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      LI Shi Feng
                    </a>
                  </td>
                </tr>
                <!-- position-08 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >8</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/SGP.png"
                          alt="新加坡國旗，上紅下白，紅色背景內，左側是一個月亮，右側是五顆星星。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">SGP</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      LOH Kean Yew
                    </a>
                  </td>
                </tr>
                <!-- position-09 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >9</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/INA.png"
                          alt="印尼國旗，上紅下白。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">INA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Jonatan CHRISTIE
                    </a>
                  </td>
                </tr>
                <!-- position-10 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >10</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/DEN.png"
                          alt="丹麥國旗，紅色背景白十字。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Anders ANTONSEN
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- <%- include('./layout/footer'); -%> -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
