<!--! Contest首頁-找不到資料 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Contest</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <div class="container-fluid px-0 px-lg-8 px-xl-0">
      <section
        class="banner banner--big banner--big--contest position-relative; py-4 px-4 px-md-1 d-flex flex-column justify-content-center mb-4"
      >
        <div class="z-3">
          <h1
            class="d-flex align-items-center justify-content-center text-white fs-xxl fw-bolder"
          >
            Contest
          </h1>
        </div>
      </section>
    </div>

    <div class="container-xl">
      <!-- filter buttons -->
      <section class="contest-buttons">
        <div class="d-flex justify-content-end align-items-center mt-4 mb-5">
          <!-- 日期 -->
          <section class="datePicker">
            <span class="material-symbols-outlined"> event_note </span>
          </section>
          <section class="dropdown">
            <div class="dropdown-item">
              <p>country</p>
              <img
                src="../assets/images/icons/arrow-down.png"
                width="20"
                height="20"
                alt="黑色項下箭頭"
              />
            </div>
            <div class="dropdown-content">
              <ul class="overflow-y-scroll">
                <li class="active">Taiwan</li>
                <li>Denmark</li>
                <li>Japen</li>
                <li>Indonesia</li>
                <li>Korea</li>
                <li>Australia</li>
              </ul>
            </div>
          </section>
          <section class="dropdown">
            <div class="dropdown-item">
              <p>per page</p>
              <img
                src="../assets/images/icons/arrow-down.png"
                width="20"
                height="20"
                alt="黑色項下箭頭"
              />
            </div>
            <div class="dropdown-content">
              <ul class="text-center">
                <li class="active">8</li>
                <li>16</li>
                <li>32</li>
                <li>72</li>
              </ul>
            </div>
          </section>
        </div>
      </section>

      <!-- contest cards -->
      <section class="my-1">
        <p class="text-center fs-1">Not Found</p>
      </section>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
