<!--! Contest首頁 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Contest</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-xl px-0">
      <section class="banner">
        <img
          class="banner-img"
          src="../assets/images/players/player-chou-tien-chen.jpeg"
          alt="周天成"
        />
        <h3 class="banner-title">Contest</h3>
      </section>
    </div>
    <div class="container-xl px-lg-0">
      <!-- filter buttons -->
      <section class="contest-buttons">
        <div
          class="d-flex justify-content-center justify-content-md-end align-items-center mt-4 mb-5"
        >
          <!-- 日期 -->
          <section class="datePicker">
            <span class="material-symbols-outlined"> event_note </span>
          </section>
          <section class="dropdown">
            <div class="dropdown-item">
              <p>country</p>
              <img
                src="../assets/images/icons/arrow-down.png"
                width="20"
                height="20"
                alt="黑色項下箭頭"
              />
            </div>
            <div class="dropdown-content">
              <ul class="overflow-y-scroll">
                <li class="active">Taiwan</li>
                <li>Denmark</li>
                <li>Japen</li>
                <li>Indonesia</li>
                <li>Korea</li>
                <li>Australia</li>
              </ul>
            </div>
          </section>
          <section class="dropdown">
            <div class="dropdown-item">
              <p>per page</p>
              <img
                src="../assets/images/icons/arrow-down.png"
                width="20"
                height="20"
                alt="黑色項下箭頭"
              />
            </div>
            <div class="dropdown-content">
              <ul class="text-center">
                <li class="active">8</li>
                <li>16</li>
                <li>32</li>
                <li>72</li>
              </ul>
            </div>
          </section>
        </div>
      </section>

      <!-- contest cards -->
      <section>
        <ul
          class="contest-manager d-flex flex-column flex-sm-row align-items-center"
        >
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-01.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-02.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-03.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-01.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-02.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-03.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-01.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-02.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-03.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-01.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-02.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li>
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-03.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX US Open 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <!-- pagination -->
      <section>
        <ul class="pagination mt-6 mb-4 mb-lg-3">
          <li>
            <a class="pagination-item pagination-item--controller" href="#"
              >pre</a
            >
          </li>
          <li>
            <a class="pagination-item pagination-item--active" href="#">1</a>
          </li>
          <li><a class="pagination-item" href="#">2</a></li>
          <li><a class="pagination-item" href="#">3</a></li>
          <li>
            <a class="pagination-item pagination-item--controller" href="#"
              >next</a
            >
          </li>
        </ul>
      </section>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
