<!--! Contest首頁-找不到資料 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>2023 YONEX US OPEN</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- banner -->
    <section
      class="banner banner--big banner--big--contest position-relative; py-4 px-4 px-md-1 d-flex flex-column justify-content-center mb-4"
    >
      <div class="container px-0 z-3">
        <h2
          class="d-flex align-items-center justify-content-center text-white fs-1 fw-bolder"
        >
          Contest
        </h2>
      </div>
    </section>
    <div class="container px-lg-0">
      <main>
        <!-- live card -->
        <section>
          <h2 class="fs-1 mt-4 mb-3 text-center text-md-start fw-bold">Live</h2>
          <div class="live-card">
            <ul
              class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center justify-content-md-start py-3 px-1 gx-1 gy-4"
            >
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
              <li class="card-item position-relative col">
                <p class="card-tag px-8">MS</p>
                <div class="item--round">
                  <span>1</span>
                  <span>2</span>
                  <span>3</span>
                </div>
                <div class="item--info">
                  <a href="player-info.html">Chou Tien Chen</a>
                  <span>
                    <span class="text-green-secondary">21</span>
                    <span>12</span>
                    <span>3</span>
                  </span>
                </div>
                <div class="item--info">
                  <a href="#">Lin Chun Yi</a>
                  <span>
                    <span>12</span>
                    <span class="text-green-secondary">21</span>
                    <span>3</span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <!-- result card -->
        <section class="mt-3 mb-1">
          <h2 class="fs-1 mt-4 mb-3 text-center text-md-start fw-bold">
            Result
          </h2>
          <ul>
            <li>
              <h3 class="fs-2 text-center mb-5">Woman's single</h3>
              <ul class="card-result d-flex flex-wrap flex-column flex-md-row">
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>1</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>2</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>3</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>4</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="mt-2">
              <h3 class="fs-2 text-center mb-5">Man's single</h3>
              <ul class="card-result d-flex flex-wrap flex-column flex-md-row">
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>1</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>2</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>3</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="player-info.html">
                    <div class="item-header">
                      <p>4</p>
                    </div>
                    <div>
                      <img
                        src="../assets/images/players/player-full-chou-tien-chen.png"
                        alt="選手照片"
                      />
                    </div>
                    <div class="item-footer">
                      <div>
                        <img
                          src="../assets/images/countries/TPE.png"
                          alt="台灣國旗，青天白日滿地紅"
                        />
                      </div>
                      <div>
                        <p><span>Chou</span><br /><span>Tien Chen</span></p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </main>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
