<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Badminton Life</title>
  </head>
  <body>
    <div class="header-sticky">
      <!-- event -->
      <%- include('./layout/event'); -%>
      <!-- header -->
      <%- include('./layout/header-logIn'); -%>
    </div>
    <!-- menu-tryIt -->
    <div class="bg-green-third">
      <div class="container-xl px-0 px-lg-8 bg-green-third">
        <div
          class="d-lg-flex align-items-md-center border-start border-end border-helper-secondary bg-white"
        >
          <img
            class="menu-tryIt-banner"
            src="../assets/images/menu-banner.png"
            alt="一個人拿著羽球拍的人，一手拿著球拍，另一手摸著拍頭，低頭看著拍子。"
          />
          <h1 class="menu-tryIt--right">
            <img
              class="menu-tryIt-img d-md-none pb-9 mb-md-7"
              src="../assets/images/Title-sm.png"
              alt="badminton life字樣（小），畫上綠色粉蠟筆質感底線。"
            />
            <img
              class="d-none d-md-block mb-9 mb-md-7 mx-auto"
              src="../assets/images/Title.png"
              alt="badminton life字樣（大），畫上綠色粉蠟筆質感底線。"
            />
            <p class="menu-tryIt-content mb-5 mb-md-3">
              Search anything you want about badminton.
            </p>
            <a class="btn btn--primary" href="signUp.html">TRY IT</a>
          </h1>
        </div>
      </div>
    </div>
    <!-- menu-schedule -->
    <h2 class="menu-title fs-1">Schedule</h2>
    <div class="bg-green-third py-6 py-md-0">
      <div class="container">
        <ul
          class="d-flex flex-column flex-md-row justify-content-center align-items-center"
        >
          <li data-aos="fade-up">
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-01.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX TAIPEI OPEN 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li data-aos="fade-up" data-aos-delay="50">
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-02.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX TAIPEI OPEN 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-03.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX TAIPEI OPEN 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--button -> MORE -->
    <div
      class="bg-white text-center py-4 pt-md-3 pb-md-1 border-top border-helper-secondary"
    >
      <a data-aos="fade-up" class="btn btn--secondary" href="contest.html"
        >MORE</a
      >
    </div>
    <!-- menu-ranking -->
    <div class="bg-helper-fourth">
      <!-- menu-ranking-title -->
      <h2 class="menu-title menu-title--ranking fs-1 mb-4">Ranking TOP 10</h2>
      <!-- ranking section-->
      <div class="container-xl">
        <ul
          class="d-flex flex-column flex-xl-row align-items-center text-center"
        >
          <li
            data-aos="fade-right"
            class="bg-white position-relative border border-helper-primary py-3 px-4 width-100 width-xl-auto flex-xl-grow-1 mb-1 mb-xl-0"
          >
            <!-- title -->
            <div
              class="position-absolute transform-center d-flex justify-content-center align-items-center py-5 w-px-280 w-lg-px-360 bg-green-fourth up-12 x-center x-xl-220 border border-helper-primary"
            >
              <div class="me-8">
                <img
                  class="d-lg-none"
                  src="../assets/images/icons/logomark-sm.png"
                  alt="黑色羽球樣貌線條。"
                />
                <img
                  class="d-none d-lg-block"
                  src="../assets/images/icons/logomark.png"
                  alt="黑色羽球樣貌線條。"
                />
              </div>
              <span class="fs-2">Man's single</span>
            </div>
            <ul class="overflow-x-scroll">
              <!-- position1 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">1</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/DEN.png"
                        alt="丹麥國旗，紅色背景白十字。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        DEN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Vikotor AXELSEN
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position2 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">2</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/INA.png"
                        alt="印尼國旗，上紅下白。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        INA
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Anthony Sinisuka GINTING
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position3 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">3</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/JPN.png"
                        alt="日本國旗，白底中間紅色圓形。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        JPN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Kodai NARAOKA
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position4 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">4</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/THA.png"
                        alt="泰國國旗，紅白藍由外而內"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        THA
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Kunlavut VITIDSARN
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position5 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">5</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/CHN.png"
                        alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        CHN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        SHI Yu QI
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position6 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">6</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/IND.png"
                        alt="印度國旗，由上至下背景顏色為黃白綠，白色背景內有來色圓形花紋圖案。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        IND
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        PRANNOY H. S.
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position7 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">7</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/CHN.png"
                        alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        CHN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        LI Shi Feng
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position8 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">8</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/SGP.png"
                        alt="新加坡國旗，上紅下白，紅色背景內，左側是一個月亮，右側是五顆星星。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        SGP
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        LOH Kean Yew
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position9 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">9</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/INA.png"
                        alt="印尼國旗，上紅下白。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        INA
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Jonatan CHRISTIE
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position10 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">10</span>
                  </div>
                  <!-- 內容 -->
                  <div class="d-flex align-items-center py-6 flex-grow-1">
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/DEN.png"
                        alt="丹麥國旗，紅色背景白十字。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        DEN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Anders ANTONSEN
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li
            data-aos="fade-left"
            class="bg-white position-relative border border-helper-primary py-3 px-4 width-100 width-xl-auto flex-xl-grow-1"
          >
            <!-- title -->
            <div
              class="position-absolute transform-center d-flex justify-content-center align-items-center py-5 w-px-280 w-lg-px-360 bg-green-fourth up-12 x-center x-xl-220 border border-helper-primary"
            >
              <div class="me-8">
                <img
                  class="d-lg-none"
                  src="../assets/images/icons/logomark-sm.png"
                  alt="黑色羽球樣貌線條。"
                />
                <img
                  class="d-none d-lg-block"
                  src="../assets/images/icons/logomark.png"
                  alt="黑色羽球樣貌線條。"
                />
              </div>
              <span class="fs-2">Man's single</span>
            </div>
            <ul class="overflow-x-scroll">
              <!-- position1 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">1</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/DEN.png"
                        alt="丹麥國旗，紅色背景白十字。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        DEN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Vikotor AXELSEN
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position2 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">2</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/INA.png"
                        alt="印尼國旗，上紅下白。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        INA
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Anthony Sinisuka GINTING
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position3 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">3</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/JPN.png"
                        alt="日本國旗，白底中間紅色圓形。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        JPN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Kodai NARAOKA
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position4 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">4</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/THA.png"
                        alt="泰國國旗，紅白藍由外而內"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        THA
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Kunlavut VITIDSARN
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position5 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">5</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/CHN.png"
                        alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        CHN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        SHI Yu QI
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position6 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">6</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/IND.png"
                        alt="印度國旗，由上至下背景顏色為黃白綠，白色背景內有來色圓形花紋圖案。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        IND
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        PRANNOY H. S.
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position7 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">7</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/CHN.png"
                        alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        CHN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        LI Shi Feng
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position8 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">8</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/SGP.png"
                        alt="新加坡國旗，上紅下白，紅色背景內，左側是一個月亮，右側是五顆星星。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        SGP
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        LOH Kean Yew
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position9 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">9</span>
                  </div>
                  <!-- 內容 -->
                  <div
                    class="d-flex align-items-center py-6 border-bottom flex-grow-1"
                  >
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/INA.png"
                        alt="印尼國旗，上紅下白。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        INA
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Jonatan CHRISTIE
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <!-- position10 -->
              <li class="w-100 mw-500">
                <a
                  href="player-info.html"
                  class="d-flex justify-content-center align-items-center hover-bg--helper-fourth"
                >
                  <!-- 排名 -->
                  <div
                    class="card-square bg-green-primary text-center me-6 me-lg-36"
                  >
                    <span class="text-white fs-4 lh-48">10</span>
                  </div>
                  <!-- 內容 -->
                  <div class="d-flex align-items-center py-6 flex-grow-1">
                    <!-- img -->
                    <div class="w-px-50 me-8 me-lg-32">
                      <img
                        src="../assets/images/countries/DEN.png"
                        alt="丹麥國旗，紅色背景白十字。"
                      />
                    </div>
                    <div class="me-4 me-lg-3">
                      <p
                        class="text-helper-secondary fs-5 fw-light sideBar w-px-50"
                      >
                        DEN
                      </p>
                    </div>
                    <!-- name -->
                    <div class="flex-grow-1">
                      <p
                        class="fs-5 fw-light text-helper-secondary text-nowrap"
                      >
                        Anders ANTONSEN
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!--button -> MORE -->
    <div class="bg-helper-fourth text-center py-4 pt-md-3 pb-md-1">
      <a data-aos="fade-up" class="btn btn--secondary" href="ranking.html"
        >MORE</a
      >
    </div>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
