<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Badminton Life</title>
  </head>
  <body>
    <div class="header-sticky">
      <!-- event -->
      <%- include('./layout/event'); -%>
      <!-- header -->
      <%- include('./layout/header'); -%>
    </div>
    <!-- menu-tryIt -->
    <div class="bg-green-third">
      <div class="container-xl px-0 px-lg-8 bg-green-third">
        <div
          class="d-lg-flex align-items-md-center border-start border-end border-helper-secondary bg-white"
        >
          <img
            class="menu-tryIt-banner"
            src="../assets/images/menu-banner.png"
            alt="一個人拿著羽球拍的人，一手拿著球拍，另一手摸著拍頭，低頭看著拍子。"
          />
          <h1 class="menu-tryIt--right">
            <img
              class="menu-tryIt-img d-md-none pb-9 mb-md-7"
              src="../assets/images/Title-sm.png"
              alt="badminton life字樣（小），畫上綠色粉蠟筆質感底線。"
            />
            <img
              class="d-none d-md-block mb-9 mb-md-7 mx-auto"
              src="../assets/images/Title.png"
              alt="badminton life字樣（大），畫上綠色粉蠟筆質感底線。"
            />
            <p class="menu-tryIt-content mb-5 mb-md-3">
              Search anything you want about badminton.
            </p>
            <a class="btn btn--primary" href="signUp.html">TRY IT</a>
          </h1>
        </div>
      </div>
    </div>
    <!-- menu-schedule -->
    <h2 class="menu-title fs-1">Schedule</h2>
    <div class="bg-green-third py-6 py-md-0">
      <div class="container">
        <ul
          class="d-flex flex-column flex-md-row justify-content-center align-items-center"
        >
          <li data-aos="fade-up" class="mb-8 mb-md-0">
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-01.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX TAIPEI OPEN 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li data-aos="fade-up" data-aos-delay="50" class="mb-8 mb-md-0">
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-02.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX TAIPEI OPEN 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
          <li data-aos="fade-up" data-aos-delay="100">
            <a class="card card--contest" href="#">
              <img
                class="card-img mb-6"
                src="../assets/images/schedule-03.png"
                alt="一個人手捏著羽毛球的球頭。"
              />
              <p class="card-title">YONEX TAIPEI OPEN 2023</p>
              <div class="d-flex">
                <img
                  class="d-md-none"
                  src="../assets/images/icons/date-sm.svg"
                  alt="月曆"
                />
                <img
                  class="d-none d-md-block"
                  src="../assets/images/icons/date.svg"
                  alt="月曆"
                />
                <span class="card-date">11 - 16 July</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--button -> MORE -->
    <div
      class="bg-white text-center py-4 pt-md-3 pb-md-1 border-top border-helper-secondary"
    >
      <a data-aos="fade-up" class="btn btn--secondary" href="contest.html"
        >MORE</a
      >
    </div>
    <!-- menu-ranking -->
    <div class="bg-helper-fourth">
      <!-- menu-ranking-title -->
      <h2 class="menu-title fs-1 py-4 pt-lg-2 pb-lg-1 mb-4 mb-md-1">
        Ranking TOP 10
      </h2>
      <!-- ranking-table -->
      <div class="container-xl px-4 px-lg-8">
        <div class="row gx-0 gy-3">
          <div class="col-lg-6" data-aos="fade-up">
            <!-- ranking table -->
            <div class="table-responsive-md position-relative">
              <table
                class="caption-top table-ranking align-middle border border-dark text-center"
              >
                <!-- title (>= lg) -->
                <div
                  class="position-absolute transform-bottom-left d-none d-lg-flex justify-content-center align-items-center py-5 w-px-280 w-lg-px-360 bg-green-fourth border border-helper-primary up-24"
                >
                  <div class="me-8">
                    <img
                      class="d-lg-none"
                      src="../assets/images/icons/logomark-sm.png"
                      alt="黑色羽球樣貌線條。"
                    />
                    <img
                      class="d-none d-lg-block"
                      src="../assets/images/icons/logomark.png"
                      alt="黑色羽球樣貌線條。"
                    />
                  </div>
                  <span class="fs-2">Men's single</span>
                </div>
                <!-- title (<lg) -->
                <caption
                  class="d-lg-none text-center text-green-primary fs-2 fw-bold"
                >
                  Men's Single
                </caption>
                <!-- table header -->
                <thead class="fs-5 bg-light">
                  <tr class="border-bottom border-dark text-center">
                    <th scope="col">Position</th>
                    <th scope="col">Country</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <!-- table body -->
                <tbody class="bg-light">
                  <!-- position-01 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >1</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/DEN.png"
                            alt="丹麥國旗，紅色背景白十字。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Vikotor AXELSEN
                      </a>
                    </td>
                  </tr>
                  <!-- position-02 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >2</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/INA.png"
                            alt="印尼國旗，上紅下白。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">INA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Anthony Sinisuka GINTING
                      </a>
                    </td>
                  </tr>
                  <!-- position-03 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >3</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/JPN.png"
                            alt="日本國旗，白底中間紅色圓形。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">JPN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name"
                        >Kodai NARAOKA</a
                      >
                    </td>
                  </tr>
                  <!-- position-04 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >4</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/THA.png"
                            alt="泰國國旗，紅白藍由外而內"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">THA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Kunlavut VITIDSARN
                      </a>
                    </td>
                  </tr>
                  <!-- position-05 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >5</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/CHN.png"
                            alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        SHI Yu QI
                      </a>
                    </td>
                  </tr>
                  <!-- position-06 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >6</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/IND.png"
                            alt="印度國旗，由上至下背景顏色為黃白綠，白色背景內有來色圓形花紋圖案。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">IND</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        PRANNOY H. S.
                      </a>
                    </td>
                  </tr>
                  <!-- position-07 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >7</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/CHN.png"
                            alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        LI Shi Feng
                      </a>
                    </td>
                  </tr>
                  <!-- position-08 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >8</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/SGP.png"
                            alt="新加坡國旗，上紅下白，紅色背景內，左側是一個月亮，右側是五顆星星。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">SGP</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        LOH Kean Yew
                      </a>
                    </td>
                  </tr>
                  <!-- position-09 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >9</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/INA.png"
                            alt="印尼國旗，上紅下白。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">INA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Jonatan CHRISTIE
                      </a>
                    </td>
                  </tr>
                  <!-- position-10 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >10</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar table-sideBar-single"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/DEN.png"
                            alt="丹麥國旗，紅色背景白十字。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Anders ANTONSEN
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up">
            <!-- ranking table -->
            <div class="table-responsive-md position-relative">
              <table
                class="caption-top table-ranking align-middle border border-dark text-center"
              >
                <!-- title (>= lg) -->
                <div
                  class="position-absolute transform-bottom-left d-none d-lg-flex justify-content-center align-items-center py-5 w-px-280 w-lg-px-360 bg-green-fourth border border-helper-primary up-24"
                >
                  <div class="me-8">
                    <img
                      class="d-lg-none"
                      src="../assets/images/icons/logomark-sm.png"
                      alt="黑色羽球樣貌線條。"
                    />
                    <img
                      class="d-none d-lg-block"
                      src="../assets/images/icons/logomark.png"
                      alt="黑色羽球樣貌線條。"
                    />
                  </div>
                  <span class="fs-2">Women's single</span>
                </div>
                <!-- title (<lg) -->
                <caption
                  class="d-lg-none text-center text-green-primary fs-2 fw-bold"
                >
                  Women's Single
                </caption>
                <!-- table header -->
                <thead class="fs-5 bg-light">
                  <tr class="border-bottom border-dark text-center">
                    <th scope="col">Position</th>
                    <th scope="col">Country</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <!-- table body -->
                <tbody class="bg-light">
                  <!-- position-01 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >1</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/KOR.png"
                            alt="韓國國旗。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">KOR</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        AN Se Young
                      </a>
                    </td>
                  </tr>
                  <!-- position-02 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >2</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/JPN.png"
                            alt="日本國旗，白底中間紅色圓形。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">JPN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Akane YAMAGUCHI
                      </a>
                    </td>
                  </tr>
                  <!-- position-03 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >3</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/CHN.png"
                            alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name"
                        >CHEN Yu Fei</a
                      >
                    </td>
                  </tr>
                  <!-- position-04 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >4</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/TPE.png"
                            alt="台灣國旗。青天白日滿地紅。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">THA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        TAI Tzu Ying
                      </a>
                    </td>
                  </tr>
                  <!-- position-05 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >5</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/CHN.png"
                            alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        HE Bing Jiao
                      </a>
                    </td>
                  </tr>
                  <!-- position-06 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >6</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/ESP.png"
                            alt="西班牙國旗。上下紅色，中間黃色。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">ESP</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Carolina MARIN
                      </a>
                    </td>
                  </tr>
                  <!-- position-07 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >7</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/THA.png"
                            alt="泰國國旗，紅白藍由外而內"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">THA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Ratchanok INTANON
                      </a>
                    </td>
                  </tr>
                  <!-- position-08 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >8</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/INA.png"
                            alt="印尼國旗，上紅下白。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">INA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Gregoria Mariska TUNJUNG
                      </a>
                    </td>
                  </tr>
                  <!-- position-09 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >9</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/CHN.png"
                            alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        HAN Yue
                      </a>
                    </td>
                  </tr>
                  <!-- position-10 -->
                  <tr class="table-row" data-aos="fade-left">
                    <th scope="row">
                      <div
                        class="card-square bg-green-primary text-center mx-auto"
                      >
                        <span
                          class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                          >10</span
                        >
                      </div>
                    </th>
                    <td
                      class="d-flex justify-content-center align-items-center table-sideBar"
                    >
                      <div class="d-flex align-items-center">
                        <div class="w-px-50 me-8 me-lg-6 h-100">
                          <img
                            src="../assets/images/countries/USA.png"
                            alt="美國國旗。"
                          />
                        </div>
                        <p class="text-helper-secondary fs-6 fw-light">USA</p>
                      </div>
                    </td>
                    <td>
                      <a href="player-info.html" class="table-name">
                        Beiwen ZHANG
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--button -> MORE -->
    <div class="bg-helper-fourth text-center py-4 pt-md-3 pb-md-1">
      <a data-aos="fade-up" class="btn btn--secondary" href="ranking--MS.html"
        >MORE</a
      >
    </div>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
