<!-- ! 建立元件測試頁面 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Log In</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-xl px-lg-0">
      <!-- text：製作成一個卡片形式，放在正中間 -->
      <div
        class="bg-white border border-helper-fourth rounded mt-2 mb-2 py-4 py-lg-3 width-100 width-lg-50 mx-auto"
      >
        <!-- Logo -->
        <a href="index.html"
          ><img
            class="d-lg-none mx-auto mb-3 mb-lg-4"
            src="../assets/images/Logo-sm.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
        /></a>
        <a href="index.html"
          ><img
            class="d-none d-lg-block mx-auto mb-6 mb-lg-4"
            src="../assets/images/Logo.png"
            alt="Badminton Life字樣，左邊有一個毛球圖案"
        /></a>
        <!-- form表單 -->
        <form action="" method="get">
          <!-- input : userName -->
          <div class="px-4 mb-4">
            <label for="userName" class="form-label fs-lg-5">Username</label>
            <input
              type="text"
              class="form-control rounded"
              id="userName"
              required
            />
          </div>
          <!-- input : password -->
          <div class="px-4 mb-9">
            <label for="password" class="form-label fs-lg-5">Password</label>
            <input
              type="password"
              class="form-control rounded"
              id="password"
              required
            />
          </div>
          <!-- forgot passsword -->
          <div class="d-flex align-items-center mb-4 px-4">
            <span class="text-helper-third me-8">don't have an account?</span>
            <a class="link-helper-third" href="signUp.html">Sign up</a>
          </div>
          <!-- button : sign up -->
          <div class="text-center">
            <input
              type="submit"
              class="btn btn--secondary rounded fs-5 px-6 py-8 mx-auto"
              value="Log In"
            />
          </div>
        </form>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
