<!-- ! player首頁-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>players</title>
  </head>
  <body>
    <div class="header-sticky"><%- include('./layout/header'); -%></div>

    <!-- banner -->
    <div class="container-fluid px-0 px-lg-8 px-xl-0">
      <section
        class="banner banner--big banner--big--players position-relative py-4 px-4 px-md-1 d-flex flex-column justify-content-center mb-4"
      >
        <div class="z-3">
          <h1
            class="d-flex align-items-center justify-content-center text-white fs-xxl fw-bolder"
          >
            Players
          </h1>
        </div>
      </section>
    </div>

    <!-- main:players -->
    <main>
      <div class="container-xl">
        <!-- filter buttons -->
        <section>
          <div
            class="d-flex gap-x-20 justify-content-center justify-content-md-end align-items-center mt-4 mb-5"
          >
            <!-- input section -->
            <section class="align-self-stretch fs-lg-5 position-relative">
              <form action="">
                <label class="input-tag" for="player-name">name</label>
                <input id="player-name" class="input--players" type="text" />
              </form>
            </section>
            <section class="dropdown fs-5">
              <div class="dropdown-item">
                <span class="dropdown-tag">country</span>
                <p>country</p>
                <img
                  src="../assets/images/icons/arrow-down.png"
                  width="20"
                  height="20"
                  alt="黑色項下箭頭"
                />
              </div>
              <div class="dropdown-content">
                <ul class="overflow-y-scroll">
                  <li class="active">Taiwan</li>
                  <li>Denmark</li>
                  <li>Japen</li>
                  <li>Indonesia</li>
                  <li>Korea</li>
                  <li>Australia</li>
                </ul>
              </div>
            </section>
          </div>
        </section>
        <!-- player cards -->
        <ul class="row justify-content-center g-6">
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
          <li data-aos="fade-up" class="col-12 col-sm-6 col-md-4">
            <div class="card--leftImgRightName">
              <a href="player-info.html">
                <div class="card-img">
                  <img
                    src="../assets/images/players/player-head-chou-tien-chen.jpeg"
                    alt="選手，Chou Tien Chen大頭照。"
                  />
                </div>
                <span class="card-name fs-lg-5 fs-lg-4">Chou Tien Chen</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <!-- pagination -->
      <section class="mt-6 mb-3 mb-lg-2">
        <ul class="pagination">
          <li>
            <a class="pagination-item pagination-item--controller" href="#"
              >pre</a
            >
          </li>
          <li>
            <a class="pagination-item pagination-item--active" href="#">1</a>
          </li>
          <li><a class="pagination-item" href="#">2</a></li>
          <li><a class="pagination-item" href="#">3</a></li>
          <li>
            <a class="pagination-item pagination-item--controller" href="#"
              >next</a
            >
          </li>
        </ul>
      </section>
    </main>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
