<!-- ! Ranking -- Men's single -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/meta'); -%>
    <title>Ranking</title>
  </head>
  <body>
    <div class="header-sticky"><%- include('./layout/header'); -%></div>
    <!-- banner -->
    <div class="container-fluid px-0 px-lg-8 px-xl-0">
      <section
        class="banner banner--big banner--big--ranking position-relative py-4 px-4 px-md-1 d-flex flex-column justify-content-center mb-4"
      >
        <div class="z-3">
          <h1
            class="d-flex align-items-center justify-content-center text-white fs-xxl fw-bolder"
          >
            Ranking
          </h1>
        </div>
      </section>
    </div>

    <div class="container-xl px-4 px-lg-8">
      <!-- ranking-option -->
      <div class="mb-4">
        <ul
          class="ranking-option row justify-content-between align-items-center d-none d-lg-flex"
        >
          <li class="col-lg-2 align-self-stretch">
            <a
              class="h-100 w-100 d-flex align-items-center justify-content-center list-item text-center py-6 border border-dark fs-5 py-6 px-8 transition-3 hover-white active"
              href="ranking--MS.html"
              >Men's single</a
            >
          </li>
          <li class="col-lg-2 align-self-stretch d-flex align-items-center">
            <a
              class="h-100 w-100 d-flex align-items-center justify-content-center list-item text-center py-6 border border-dark fs-5 py-6 px-8 transition-3 hover-white hover-bg--green-primary"
              href="ranking--WS.html"
              >Women's single</a
            >
          </li>
          <li class="col-lg-2 align-self-stretch d-flex align-items-center">
            <a
              class="h-100 w-100 d-flex align-items-center justify-content-center list-item text-center py-6 border border-dark fs-5 py-6 px-8 transition-3 hover-white hover-bg--green-primary"
              href="ranking--MD.html"
              >Men's double</a
            >
          </li>
          <li class="col-lg-2 align-self-stretch d-flex align-items-center">
            <a
              class="h-100 w-100 d-flex align-items-center justify-content-center list-item text-center py-6 border border-dark fs-5 py-6 px-8 transition-3 hover-white hover-bg--green-primary"
              href="ranking--WD.html"
              >Women's double</a
            >
          </li>
          <li class="col-lg-2 align-self-stretch d-flex align-items-center">
            <a
              class="h-100 w-100 d-flex align-items-center justify-content-center list-item text-center py-6 border border-dark fs-5 py-6 px-8 transition-3 hover-white hover-bg--green-primary"
              href="ranking--MixD.html"
              >Mixed double</a
            >
          </li>
        </ul>
        <div class="ranking-option-sm d-lg-none">
          <a
            class="ranking-option--dropdown width-60 hover-bg--green-primary hover-border--helper-primary mx-auto d-lg-none d-flex justify-content-center align-items-center py-8 px-6 border rounded border-helper-secondary"
            href="#"
          >
            <p class="fs-4 me-9">Men's single</p>
            <img
              src="../assets/images/icons/arrow-down.png"
              alt="黑色項下箭頭"
            />
          </a>
          <ul class="ranking-option--dropdown-content width-50 text-center">
            <li>
              <a class="list-item py-8 px-6 border border-dark active" href="#"
                >Men's single</a
              >
            </li>
            <li>
              <a class="list-item py-8 px-6 border border-dark" href="#"
                >Women's single</a
              >
            </li>
            <li>
              <a class="list-item py-8 px-6 border border-dark" href="#"
                >Men's double</a
              >
            </li>
            <li>
              <a class="list-item py-8 px-6 border border-dark" href="#"
                >Women's double</a
              >
            </li>
            <li>
              <a class="list-item py-8 px-6 border border-dark" href="#"
                >Mixed double</a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- ranking section-->
      <div class="row gx-0">
        <div class="col-lg-6">
          <!-- ranking table -->
          <div class="table-responsive-md position-relative">
            <table
              class="caption-top table-ranking align-middle border border-dark text-center"
            >
              <!-- table header -->
              <thead class="fs-5 bg-light">
                <tr class="border-bottom border-dark text-center">
                  <th scope="col">Position</th>
                  <th scope="col">Country</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <!-- table body -->
              <tbody class="bg-light">
                <!-- position-01 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >1</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/DEN.png"
                          alt="丹麥國旗，紅色背景白十字。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Vikotor AXELSEN
                    </a>
                  </td>
                </tr>
                <!-- position-02 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >2</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/INA.png"
                          alt="印尼國旗，上紅下白。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">INA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Anthony Sinisuka GINTING
                    </a>
                  </td>
                </tr>
                <!-- position-03 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >3</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/JPN.png"
                          alt="日本國旗，白底中間紅色圓形。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">JPN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name"
                      >Kodai NARAOKA</a
                    >
                  </td>
                </tr>
                <!-- position-04 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >4</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/THA.png"
                          alt="泰國國旗，紅白藍由外而內"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">THA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Kunlavut VITIDSARN
                    </a>
                  </td>
                </tr>
                <!-- position-05 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >5</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/CHN.png"
                          alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      SHI Yu QI
                    </a>
                  </td>
                </tr>
                <!-- position-06 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >6</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/IND.png"
                          alt="印度國旗，由上至下背景顏色為黃白綠，白色背景內有來色圓形花紋圖案。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">IND</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      PRANNOY H. S.
                    </a>
                  </td>
                </tr>
                <!-- position-07 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >7</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/CHN.png"
                          alt="中國國旗，紅底，一顆大星星在左邊，4顆小星星在右邊。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">CHN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      LI Shi Feng
                    </a>
                  </td>
                </tr>
                <!-- position-08 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >8</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/SGP.png"
                          alt="新加坡國旗，上紅下白，紅色背景內，左側是一個月亮，右側是五顆星星。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">SGP</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      LOH Kean Yew
                    </a>
                  </td>
                </tr>
                <!-- position-09 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >9</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/INA.png"
                          alt="印尼國旗，上紅下白。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">INA</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Jonatan CHRISTIE
                    </a>
                  </td>
                </tr>
                <!-- position-10 -->
                <tr class="table-row">
                  <th scope="row">
                    <div
                      class="card-square bg-green-primary text-center mx-auto"
                    >
                      <span
                        class="text-white fs-5 d-flex flex-column h-100 justify-content-center align-items-center"
                        >10</span
                      >
                    </div>
                  </th>
                  <td
                    class="d-flex justify-content-center align-items-center table-sideBar"
                  >
                    <div class="d-flex align-items-center">
                      <div class="w-px-50 me-8 me-lg-6 h-100">
                        <img
                          src="../assets/images/countries/DEN.png"
                          alt="丹麥國旗，紅色背景白十字。"
                        />
                      </div>
                      <p class="text-helper-secondary fs-6 fw-light">DEN</p>
                    </div>
                  </td>
                  <td>
                    <a href="player-info.html" class="table-name">
                      Anders ANTONSEN
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-6 align-self-stretch">
          <img
            class="h-100"
            src="../assets/images/players/player-full-viktor-axelsen.png"
            alt=""
          />
        </div>
      </div>

      <!-- pagination -->
      <section class="mt-6 mb-3 mb-lg-2">
        <ul class="pagination">
          <li>
            <a class="pagination-item pagination-item--controller" href="#"
              >pre</a
            >
          </li>
          <li>
            <a class="pagination-item pagination-item--active" href="#">1</a>
          </li>
          <li><a class="pagination-item" href="#">2</a></li>
          <li><a class="pagination-item" href="#">3</a></li>
          <li>
            <a class="pagination-item pagination-item--controller" href="#"
              >next</a
            >
          </li>
        </ul>
      </section>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
